<div>
  <div class="row">
    <div class="col-lg-2 col-md-2 border-right" align="center">
      <a routerLink="/plansemanalinicial/{{detalle.registro_academico_id}}">
        <i class="fas fa-arrow-left" style="font-size: 20px;"></i>
      </a>
    </div>

    <div class="col-lg-2 col-md-2 border-right">
      <button class="btn btn-warning btn-sm btn-block" (click)="actividad()">Actividad</button>
    </div>

    <div class="col-lg-2 col-md-2 border-right" *ngIf="es_calificado == true" (click)="calificarActividad()">
      <button class="btn btn-info btn-sm btn-block">Calificar Actividad</button>
    </div>
  </div>
  <br>

  <div class="container">
    <!--CODIGO DE ACTIVIDAD-->
    <div class="card shadow" style="padding: 10px;" *ngIf="muestraActividad">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12" align="center">
          <h5><u>{{tema}}</u></h5>
          <br>
          <div class="row">
            <div class="col-lg-2 col-md-2">
              <h6>ES CALIFICADO:</h6>
              <div *ngIf="es_calificado == true ">
                <i class="fas fa-check-circle" style="color: green;"></i>
              </div>
              <div *ngIf="es_calificado == false">
                <i class="fas fa-times" style="color: red;"></i>
              </div>
            </div>
            <div class="col-lg-8 col-md-8">
              <p style="font-size: 12px;">
                <strong>{{detalle.dia}} {{detalle.fecha}}
                  |
                  {{detalle.hora}} HORA
                  |
                  {{detalle.hora_inicia}} - {{detalle.hora_finaliza}}
                </strong>
              </p>

            </div>
            <div class="col-lg-2 col-md-2">
              <h6>SEMANA {{detalle.semana_numero}}</h6>
            </div>
          </div>
          <div *ngIf="semanaActiva == true">
            <!--MENÚ DE ÍCONOS-->
            <a data-target="#modalActividad" data-toggle="modal" type="button">
              <i class="far fa-sticky-note" style="font-size: 25px; color:green;" title="Actividad"></i> &nbsp;
            </a>
            <a data-target="#modalDestreza" data-toggle="modal" type="button">
              <i class="far fa-lightbulb" style="font-size: 25px; color: red;" title="Destrezas"></i> &nbsp;
            </a>
            <a data-target="#modalIndicador" data-toggle="modal" type="button">
              <i class="fas fa-book" style="font-size: 25px; color: darkmagenta;" title="Indicadores"></i> &nbsp;
            </a>
            <a data-target="#modalMaterial" data-toggle="modal" type="button">
              <i class="fas fa-pencil-ruler" style="font-size: 25px; color: darkblue;" title="Materiales"></i> &nbsp;
            </a>
            <a routerLink="/deber/{{detalle.id}}/{{detalle.tema}}" type="button">
              <i class="fas fa-file-upload" style="font-size: 25px; color: black;" title="Deber"></i>
            </a>
          </div>
        </div>
      </div>

      <hr>
      <!-- COLUMNA 1  DEL DETALLE-->
      <div class="row">
        <div class="col-lg-3 col-md-3 " *ngIf="semanaActiva == true">
          <!--TOMAR VALOR DE LA CAJA-->
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <div class="form-group">
                <label for="tema"><strong>TEMA:</strong></label>
                <br>
                <input type="text" id="tema" [(ngModel)]="tema" (change)="onUpdate('tema')" class="form-control"
                  value="{{tema}}">
              </div>
              <div class="form-group form-check">
                <label for="esCalificado"><strong>ES CALIFICADO:</strong></label>
                <br>
                <input type="checkbox" id="es_calificado" [(ngModel)]="es_calificado"
                  (change)="onUpdate('es_calificado')" class="form-control">
              </div>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col-lg-12 col-md-12 contenedor border-bottom" *ngIf="semanaActiva == true" align="center"
              style="color: blue;">
              <span>
                <h5>Abierta hasta:</h5>
                <h4>{{detalle.fecha_cierre}}</h4>
                <img src="/assets/images/pizarra/schedule.png" width="100px">
              </span>
            </div>
          </div>

        </div>

        <div class="col-lg-3 col-md-3 contenedor" *ngIf="semanaActiva == false" align="center" style="color: red;">
          <span>
            <h3>¡EL TIEMPO DE LA SEMANA HA CERRADO!</h3>
            <small> Usted ya no puede modificar ninguna actividad de esta semana</small>
          </span>
        </div>
        <!-- COLUMNA 2 DEL DETALLE -->
        <div class="col-lg-6 col-md-6 border-left border-right">
          <div class="row">
            <div class="col-lg-12 col-md-12 border-bottom">
              <strong>Actividad:</strong>
              <div *ngFor="let item of recursos">
                <div style="font-size: 12px;">
                  <div *ngIf="item.tipo == 'actividad'">

                    <div *ngIf="semanaActiva == true">
                      <a type="button" (click)="eliminarRecurso(item.id)">
                        <i class="fas fa-trash" style="color: red;"></i>
                      </a>
                      {{item.contenido}}
                    </div>

                    <div *ngIf="semanaActiva == false">
                      <li>
                        {{item.contenido}}
                      </li>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12 col-md-12 border-left border-right border-bottom">
              <strong style="padding-bottom: 5px;">Destrezas:</strong>
              <div *ngFor="let item of recursos">
                <div *ngIf="item.tipo == 'destreza'">
                  <div class="row border-bottom" style="font-size: 12px;">
                    <div class="col-lg-2 col-md-2">

                      <div *ngIf="semanaActiva == true">
                        <a type="button" (click)="eliminarRecurso(item.id)">
                          <i class="fas fa-trash" style="color: red;"></i>
                        </a>
                        {{item.codigo}}
                      </div>

                      <div *ngIf="semanaActiva == false">
                        {{item.codigo}}
                      </div>
                    </div>

                    <div class="col-lg-10 col-md-10">
                      {{item.contenido}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12 col-md-12 border-bottom">
              <strong>Indicador:</strong>
              <div *ngFor="let item of recursos">
                <div style="font-size: 12px;">
                  <div *ngIf="item.tipo == 'indicador'">
                    <div>
                      <div *ngIf="semanaActiva == true">
                        <a type="button" (click)="eliminarRecurso(item.id)">
                          <i class="fas fa-trash" style="color: red;"></i>
                        </a>
                        {{item.contenido}}
                      </div>
                      <div *ngIf="semanaActiva == false">
                        <li>
                          {{item.contenido}}
                        </li>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- COLUMNA 3 DEL DETALLE -->

        <div class="col-lg-3 col-md-3">
          <strong>Materiales/Recursos:</strong>
          <div class="row">
            <div class="col">
              <div *ngFor="let item of recursos">
                <div *ngIf="item.tipo == 'material'" style="padding-right: 3px;">
                  <span class="badge badge-primary">
                    <span class="badge badge-primary">
                      <div *ngIf="semanaActiva == true">
                        <a type="button" (click)="eliminarRecurso(item.id)">
                          <i class="fas fa-trash" style="color: white;"></i>
                        </a>
                      </div>
                    </span>
                    {{item.contenido}}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="col-lg-3 col-md-3 contenedor" *ngIf="semanaActiva == true" align="center" style="color: blue;">
          <span>
            <h5>La modificación de esta actividad cierra:</h5>
            <h4>{{detalle.fecha_cierre}}</h4>
            <img src="/assets/images/pizarra/schedule.png" width="100px">
          </span>
        </div> -->

        <!-- <div class="col-lg-3 col-md-3 contenedor" *ngIf="semanaActiva == false" align="center" style="color: red;">
          <span>
            <h3>¡EL TIEMPO DE LA SEMANA HA CERRADO!</h3>
            <small> Usted ya no puede modificar ninguna actividad de esta semana</small>
          </span>
        </div> -->
      </div>
    </div>
    <!--FINALIZA CODIGO ACTIVIDAD-->
  </div>



  <div class="container">
  <!--CODIGO ESTUDIANTES-->
    <div class="card shadow" style="padding: 10px;" *ngIf="muestraEstudiantes">
      <div class="row" align="center">
        <div class="col-lg-12 col-md-12">
          <u>
            <h5>Calificar Actividad</h5>
          </u>
        </div>
      </div>


      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Estudiante</th>
                  <th scope="col">Calificación</th>
                  <th scope="col" class="text-center">Es Activa</th>
                  <th scope="col">Anecdotario</th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let item of estudiantes; let i=index">
                  <!--Numero estudiantes-->
                  <th scope="row">{{i+1}}</th>
                  <!--Nombre del estudiante-->
                  <td>{{item.estudiante}}</td>
                  <!--Calificacion-->
                  <td>
                    <div *ngIf="semanaActiva == true">
                      <!--si la calificacion es nula-->
                      <div *ngIf="item.calificacion == null">
                        <a type="button" (click)="cambiaCalificacion(item.id,1,'calificacion')">
                          <i class="far fa-grin-beam-sweat" style="font-size: 24px; color: red;"
                            title="No Adquirido"></i>
                        </a>
                        &nbsp;
                        <a type="button" (click)="cambiaCalificacion(item.id,2,'calificacion')">
                          <i class="far fa-grin-tongue-wink" style="font-size: 24px; color: red;"
                            title="En proceso"></i>
                        </a>
                        &nbsp;
                        <a type="button" (click)="cambiaCalificacion(item.id,3,'calificacion')">
                          <i class="far fa-laugh-beam" style="font-size: 24px; color: red;" title="Adquirido"></i>
                        </a>
                      </div>

                      <!--si la calificacion es 1-->
                      <div *ngIf="item.calificacion == 1">
                        <a type="button" (click)="cambiaCalificacion(item.id,null,'calificacion')">
                          <i class="far fa-grin-beam-sweat" style="font-size: 24px; color: green;"
                            title="No Adquirido"></i>
                        </a>
                        &nbsp;
                        <a type="button" (click)="cambiaCalificacion(item.id,2,'calificacion')">
                          <i class="far fa-grin-tongue-wink" style="font-size: 24px; color: red;"
                            title="En proceso"></i>
                        </a>
                        &nbsp;
                        <a type="button" (click)="cambiaCalificacion(item.id,3,'calificacion')">
                          <i class="far fa-laugh-beam" style="font-size: 24px; color: red;" title="Adquirido"></i>
                        </a>
                      </div>

                      <!--si la calificacion es 2-->
                      <div *ngIf="item.calificacion == 2">
                        <a type="button" (click)="cambiaCalificacion(item.id,1,'calificacion')">
                          <i class="far fa-grin-beam-sweat" style="font-size: 24px; color: red;"
                            title="No Adquirido"></i>
                        </a>
                        &nbsp;
                        <a type="button" (click)="cambiaCalificacion(item.id,null,'calificacion')">
                          <i class="far fa-grin-tongue-wink" style="font-size: 24px; color: green;"
                            title="En proceso"></i>
                        </a>
                        &nbsp;
                        <a type="button" (click)="cambiaCalificacion(item.id,3,'calificacion')">
                          <i class="far fa-laugh-beam" style="font-size: 24px; color: red;" title="Adquirido"></i>
                        </a>
                      </div>

                      <!-- si la calificacion es 3-->
                      <div *ngIf="item.calificacion == 3">
                        <a type="button" (click)="cambiaCalificacion(item.id,1,'calificacion')">
                          <i class="far fa-grin-beam-sweat" style="font-size: 24px; color: red;"
                            title="No Adquirido"></i>
                        </a>
                        &nbsp;
                        <a type="button" (click)="cambiaCalificacion(item.id,2,'calificacion')">
                          <i class="far fa-grin-tongue-wink" style="font-size: 24px; color: red;"
                            title="En proceso"></i>
                        </a>
                        &nbsp;
                        <a type="button" (click)="cambiaCalificacion(item.id,null,'calificacion')">
                          <i class="far fa-laugh-beam" style="font-size: 24px; color: green;" title="Adquirido"></i>
                        </a>
                      </div>
                    </div>

                    <div *ngIf="semanaActiva == false">
                      <!--si la calificacion es nula-->
                      <div *ngIf="item.calificacion == null">
                        <i class="far fa-grin-beam-sweat" style="font-size: 24px; color: red;" title="No Adquirido"></i>
                        &nbsp;
                        <i class="far fa-grin-tongue-wink" style="font-size: 24px; color: red;" title="En proceso"></i>
                        &nbsp;
                        <i class="far fa-laugh-beam" style="font-size: 24px; color: red;" title="Adquirido"></i>
                      </div>

                      <!--si la calificacion es 1-->
                      <div *ngIf="item.calificacion == 1">
                        <i class="far fa-grin-beam-sweat" style="font-size: 24px; color: green;"
                          title="No Adquirido"></i>
                        &nbsp;
                        <i class="far fa-grin-tongue-wink" style="font-size: 24px; color: red;" title="En proceso"></i>
                        &nbsp;
                        <i class="far fa-laugh-beam" style="font-size: 24px; color: red;" title="Adquirido"></i>
                      </div>
                      <!--si la calificacion es 2-->
                      <div *ngIf="item.calificacion == 2">
                        <i class="far fa-grin-beam-sweat" style="font-size: 24px; color: red;" title="No Adquirido"></i>
                        &nbsp;
                        <i class="far fa-grin-tongue-wink" style="font-size: 24px; color: green;"
                          title="En proceso"></i>
                        &nbsp;
                        <i class="far fa-laugh-beam" style="font-size: 24px; color: red;" title="Adquirido"></i>
                      </div>
                      <!-- si la calificacion es 3-->
                      <div *ngIf="item.calificacion == 3">

                        <i class="far fa-grin-beam-sweat" style="font-size: 24px; color: red;" title="No Adquirido"></i>
                        &nbsp;
                        <i class="far fa-grin-tongue-wink" style="font-size: 24px; color: red;" title="En proceso"></i>
                        &nbsp;
                        <i class="far fa-laugh-beam" style="font-size: 24px; color: green;" title="Adquirido"></i>
                      </div>
                    </div>

                  </td>
                  <!--Es activa la calificaicon?-->
                  <td class="text-center">
                    <div *ngIf="semanaActiva == true">
                      <div *ngIf="item.es_activa == 't'">
                        <button type="button" class="btn btn-success"
                          (click)="cambiaCalificacion(item.id,false,'es_activa')">
                          <i class="fas fa-check" style="color: white;"></i>
                        </button>
                      </div>

                      <div *ngIf="item.es_activa == 'f'">
                        <button type="button" class="btn btn-danger"
                          (click)="cambiaCalificacion(item.id,true,'es_activa')">
                          <i class="fas fa-times" style="color: white;"></i>
                        </button>
                      </div>
                    </div>

                    <div *ngIf="semanaActiva == false">
                      <div *ngIf="item.es_activa == 't'">
                        <i class="fas fa-check" style="color: green;"></i>
                      </div>

                      <div *ngIf="item.es_activa == 'f'">
                        <i class="fas fa-times" style="color: red;"></i>
                      </div>
                    </div>

                  </td>
                  <!--ver el anecdotario-->
                  <td>
                    <a type="button" class="btn btn-link" routerLink="/anecdotario/{{item.id}}/{{detalleId}}/{{item.estudiante_usuario}}">
                      Ver Más
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
    <!--FINALIZA CODIGO ESTUDIANTES-->
  </div>
</div>




<!--Modal Actividad-->
<div class="modal fade" id="modalActividad" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detalle de Actividad</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <form (ngSubmit)="ingresaRecursosForm(fr)" #fr="ngForm">
              <div class="form-group">
                <label>Actividad</label>
                <textarea class="form-control" id="contenido" name="contenido" rows="3" ngModel required></textarea>
                <input type="hidden" [(ngModel)]="detalleId" name="detalle_id" id="detalle_id">
                <input type="hidden" [(ngModel)]="codigoRecurso" name="codigo" id="codigo">
                <input type="hidden" name="tipo" id="tipo" [(ngModel)]="tipoActividad">
              </div>
              <div align="right">
                <button type="submit" class="btn btn-primary">Ingresar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Destreza -->
<div class="modal-dialog modal-dialog-scrollable">
  <div class="modal fade" id="modalDestreza" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Destrezas</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <table class="table" style="font-size: 12px;">
                <thead>
                  <tr>
                    <th scope="col">#COD</th>
                    <th scope="col" class="text-center">Destreza</th>
                    <th scope="col" class="text-center">Eje</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of destrezas">
                    <th scope="row">
                      <a type="button" (click)="ingresarRecursoDestreza(item.destreza_codigo,'destreza',item.destreza)">
                        {{item.destreza_codigo}}
                      </a>
                    </th>
                    <td class="text-center">{{item.destreza}}</td>
                    <td class="text-center">{{item.eje}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Modal Indicadores-->
<div class="modal fade" id="modalIndicador" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Indicadores</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <form (ngSubmit)="ingresaRecursosForm(fa)" #fa="ngForm">
              <div class="form-group">
                <label>Escriba los indicadores:</label>
                <textarea class="form-control" id="contenido" name="contenido" rows="3" ngModel required></textarea>
                <input type="hidden" [(ngModel)]="detalleId" name="detalle_id" id="detalle_id">
                <input type="hidden" [(ngModel)]="codigoRecurso" name="codigo" id="codigo">
                <input type="hidden" name="tipo" id="tipo" [(ngModel)]="tipoIndicador">
              </div>
              <div align="right">
                <button type="submit" class="btn btn-primary">Ingresar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Modal Material-->
<div class="modal fade" id="modalMaterial" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Materiales/Recursos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <!-- <form (ngSubmit)="ingresaRecursosForm(fb)" #fb="ngForm">
              <div class="form-group">
                <label>Escriba que materiales o recursos van a utilizar:</label>
                <input type="text" class="form-control" id="contenido" name="contenido" ngModel required>
                <input type="hidden" [(ngModel)]="detalleId" name="detalle_id" id="detalle_id">
                <input type="hidden" [(ngModel)]="codigoRecurso" name="codigo" id="codigo">
                <input type="hidden" name="tipo" id="tipo" [(ngModel)]="tipoMaterial">
              </div>
              <div align="right">
                <button type="submit" class="btn btn-primary">Ingresar</button>
              </div>
            </form> -->
            <div class="form-group">
              <label for="tema"><strong>Escriba que materiales o recursos van a utilizar:</strong></label>
              <br>
              <input type="text" id="material" [(ngModel)]="material" (change)="ingresaRecursoMaterial()"
                class="form-control">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
