<div style="background-image: url('assets/images/pizarra/fondo4.jpg'); height: 580px">
  <div class="container" style="color: black;">

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <a routerLink="/misitio">
          <i class="fas fa-arrow-left" style="font-size: 20px;"></i>
        </a>
      </div>
    </div>


    <div class="card shadow" style="padding: 20px; margin-top: 10px;">
      <div class="row">
        <div class="col-md-2 col-lg-2" style="vertical-align: middle;">
          <img src="assets/images/pizarra/registrodocente.png" width="30px">
        </div>
        <div class="col-md-10 col-lg-10" style="vertical-align: middle;">Mis registros académicos</div>
      </div>

      <hr>

      <div class="table table-responsive">
        <table class="table table-condensed table-hover table-striped" style="font-size: 12px;">
          <tr>
            <td align="center"><strong>ID</strong></td>
            <td align="center"><strong>CURSO</strong></td>
            <td align="center"><strong>PARALELO</strong></td>
            <!-- <td align="center"><strong>ESTADO</strong></td> -->
            <td align="center"><strong>CONFIGURACIÓN</strong></td>
            <td align="center"><strong>PLANES SEMANALES</strong></td>
            <td align="center"><strong>CALIFICAR DEBERES</strong></td>
          </tr>

          <tr *ngFor="let item of respData; let i = index;">
            <td align="center">{{ item.id }}</td>
            <td align="center">{{ item.curso }}</td>
            <td align="center">{{ item.paralelo }}</td>
            <!-- <td align="center">{{ item.estado }}</td> -->
            <td align="center" *ngIf="item.estado == 'CREANDO'">

              <a routerLink="/registroconf/{{item.id}}">
                <i class="fas fa-cogs" style="color: chocolate; font-size:14px;">
                </i>
              </a>
            </td>
            <td align="center">
              <a routerLink="/plansemanalinicial/{{item.id}}">
                <i class="fas fa-clipboard-list" style="color: darkslategray; font-size:14px;"></i>
              </a>
            </td>
            <td align="center">
              <a routerLink="/calificar-deber/{{item.id}}">
                <i class="fas fa-edit" style="color: darkblue; font-size:14px;">
                  <span class="badge badge-pill" style="background-color: red; color: white;">{{item.no_calificados}}</span>
                </i>
              </a>
            </td>
          </tr>
        </table>

      </div>
    </div>
  </div>
</div>
