<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="assets/images/pizarra/logopizarra.ico" width="60px">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
     <!-- <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/home">Página Principal</a>
      </li> 
     -->
      <li class="nav-item" routerLinkActive="active" *ngIf="token">
        <a class="nav-link" routerLink="/misitio">Mi Sitio</a>
      </li>
    </ul>
    
    <span class="navbar-text" *ngIf="token">
      <!-- <button type="button" class="btn btn-outline-danger" (click)="logout()"> -->
        <!-- <button type="button" class="btn btn-outline-danger">
        Cerrar Sesion ( {{nickname}} )
      </button> -->

      <a [routerLink]="['logout',1]" class="btn btn-outline-danger">
          Cerrar Sesión ({{nickname}})
        </a>

    </span>
  </div>
</nav>

<div class="">
    <router-outlet> </router-outlet>
</div>