<div class="container">
    <div class="row">
        <div class="col-lg-2 col-md-2 border-right">
            <a routerLink="/registros">Atrás</a>
        </div>
        
        <div class="col-lg-2 col-md-2 border-right">
            <button class="btn btn-link btn-sm btn-block" (click)="datos()">Datos</button>
        </div>
        
        <div class="col-lg-2 col-md-2 border-right">
            <button class="btn btn-link btn-sm btn-block" (click)="estudiantes()">Estudiantes</button>
        </div>
        
    </div>

    <hr>

    
    <div class="" style="padding-left: 50px; padding-bottom: 20px; padding-right: 20px;">
        <!-- INICIA DIV DE DATOS -->
        <div *ngIf="divDatos">
            <div class="row">
                <strong><u>Datos</u></strong>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="card shadow">
                        <div class="table table-responsive">
                            <table class="table table-hover table-condensed table-striped" style="font-size: 10px;">
                                <tr>
                                    <td><strong>Curso:</strong></td>
                                    <td>{{ registroDatos.nombre_instituto }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Paralelo:</strong></td>
                                    <td>{{ registroDatos.nombre }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Asignatura:</strong></td>
                                    <td>{{ registroDatos.materia }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Rinde Supletorio:</strong></td>
                                    <td>{{ registroDatos.rinde_supletorio }}</td>
                                </tr>

                                <tr>
                                    <td><strong>Estado</strong></td>
                                    <td>{{ registroDatos.estado }}</td>
                                </tr>
                                
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="card shadow">
                        <div class="table table-responsive">
                            <table class="table table-hover table-condensed table-striped" style="font-size: 10px;">
                                <tr>
                                    <td><strong>Docente:</strong></td>
                                    <td>{{ registroDatos.docente }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Coordinador:</strong></td>
                                    <td>{{ registroDatos.coordinador }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Autoridad Principal:</strong></td>
                                    <td>{{ registroDatos.principal }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Autoridad Secundaria:</strong></td>
                                    <td>{{ registroDatos.secundaria }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Secretario(a):</strong></td>
                                    <td>{{ registroDatos.secretaria }}</td>
                                </tr>
                                
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- FINALIZA DIV DE DATOS DE REGISTRO ACADEMICO-->

        <div class="row" *ngIf="divEstudiantes">
            <div class="col-lg-12 col-md12">

                <div class="card shadow">
                    <div class="table table-responsive">
                        <table class="table table-hover table-condensed table-striped" style="font-size: 10px;">
                            <tr>
                                <td><strong><u>#</u></strong></td>
                                <td><strong><u>Estudiantes</u></strong></td>
                                <td><strong><u>Estado</u></strong></td>
                                <td><strong><u>Acciones</u></strong></td>
                            </tr>

                            <tr *ngFor="let item of registroEstudiantes; let i=index">
                                <td>{{i+1}}</td>
                                <td>{{item.concat}}</td>
                                <td>{{item.estado}}</td>
                            </tr>

                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>