<div>
  <div class="container">
    <div class="row">
      <h3>Mis productos</h3>
    </div>


    <div class="row">
      <div class="col-md-6 colo-lg-6 text-center">
        <div class="card shadow" style="padding: 30px;">
          <div align="center">
            <img src="assets/images/pizarra/miperfil.png" width="100px" height="100px">
          </div>
          <hr>
          <a routerLink="/miperfil">Mi Perfil</a>
        </div>

      </div>

      <div class="col-md-6 colo-lg-6 text-center">
        <div class="card shadow" style="padding: 30px;">
          <div align="center">
            <img src="assets/images/pizarra/registrodocente.png" width="100px" height="100px">
          </div>
          <hr>
          <a routerLink="/registros">Registros</a>
        </div>
      </div>


      <!-- <div class="col-md-3 colo-lg-3 text-center">
        <div class="card shadow" style="padding: 30px;">
          <div align="center">
            <img src="assets/images/pizarra/mensajes.png" width="100px" height="100px">
          </div>
          <hr>
          <a routerLink="/miperfil">Mensajes</a>

        </div>
      </div> -->
      <!-- <div class="col-md-3 colo-lg-3 text-center">
        <div class="card shadow" style="padding: 30px;">
          <div align="center">
            <img src="assets/images/pizarra/estadisticas.png" width="100px" height="100px">
          </div>
          <hr>
          <a routerLink="/miperfil">Estadísticas</a>

        </div>
      </div> -->
    </div>

  </div>
</div>
