<div>
  <!-- ATRAS -->
  <div class="row">
    <div class="col-lg-2 col-md-2" align="center">
      <a routerLink="/planSemanalDetalle/{{detalleId}}" class="btn btn-link">
        <i class="fas fa-arrow-left" style="font-size: 20px;"></i>
      </a>
    </div>

    <div class="col-lg-2 col-md-2 border-left border-right" align="center" *ngIf="semanaActiva == true">
      <!-- Modal Insertar Anecdota -->
      <a class="btn btn-success" data-toggle="modal" data-target="#modalInserta">
        <i class="far fa-plus-square" style="color: white;"> Agregar Anécdota</i>
      </a>
    </div>
  </div>

  <div class="row text-center" style="padding:40px">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="card shadow">
        <h5>Anecdotario de:
          <strong>{{estudiante.nombre}}</strong>
        </h5>
      </div>
    </div>
  </div>


  <div style="padding-top: 10px; padding-left: 40px; padding-right: 40px;">
    <div class="row">
      <div class="col-lg-6 col-md-6" *ngFor="let item of anecdota">
        <!-- CARD -->
        <div class="card mb-3 shadow">
          <div class="row no-gutters">
            <div class="col-md-4 text-center">
              <ng-container *ngIf="item.foto.substr(-4) == '.mp4'; else elseTemplate">
                <video id="medio" width="200" height="100" controls>
                  <source
                    src="{{anecdotaUrl+item.foto}}">
                  <source src="video.ogv">
                  Tu navegador no soporta vídeo
                </video>
              </ng-container>
              <ng-template #elseTemplate>
                <img src="{{anecdotaUrl+item.foto}}" alt="No hay vista previa de la actividad" width="100%">
              </ng-template>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <p class="card-text">
                  {{item.descripcion}}
                </p>
              </div>
            </div>
          </div>

          <div class="row no-gutters card-footer" align="center" style="padding-bottom: 12px;">
            <div class="col-lg-12 col-md-12">
              <p class="card-text">
                <small class="text-muted text-center" *ngIf="semanaActiva == true">
                  <!-- modal para cambiar foto -->
                  <a type="button" data-toggle="modal" data-target="#editarFoto" (click)="getAnecdotaId(item.id)">
                    <i class="fas fa-camera-retro" style="color: yellowgreen; font-size: 20px;"></i>
                  </a>
                  &nbsp;
                  <!-- modal para cambiar descripcion -->
                  <a type="button" data-toggle="modal" data-target="#editarDescripcion"
                    (click)="getAnecdotaId(item.id)">
                    <i class="fas fa-pencil-alt" style="color: blue; font-size: 20px;"></i>
                  </a>
                  &nbsp;
                  <a type="button" (click)="getEliminarAnecdota(item.id)">
                    <i class="fas fa-trash" style="color: red; font-size: 20px;"></i>
                  </a>
                </small>
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>




<!-- Modal Inserta Anecdota -->
<div class="modal fade" id="modalInserta" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Anécdota</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="upload()">
          <!-- subir foto -->
          <div class="form-group">
            <label for="exampleFormControlFile1">Subir Archivo:</label>
            <!-- <input type="file" capture="camera" accept="image/*"> -->
            <input type="file" class="form-control-file" id="nombre" name="nombre" accept="image/*" capture="camera"
              (change)="seleccionarArchivo($event)">
          </div>
          <!-- comentario de la foto -->
          <div class="form-group">
            <label for="exampleInputPassword1">Descripción:</label>
            <textarea class="form-control" [(ngModel)]="archivo.nombre" id="descripcion" name="descripcion"
              rows="3"></textarea>
          </div>
          <div align="right">
            <button type="submit" class="btn btn-primary">Ingresar</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>


<!-- Modal Editar Foto -->
<div class="modal fade" id="editarFoto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Actualizar Foto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="actualizaFoto(fa)" #fa="ngForm">
          <!-- subir foto -->
          <div class="form-group">
            <label for="exampleFormControlFile1">Subir foto:</label>
            <input type="file" class="form-control-file" id="nombreActualiza" name="nombreActualiza" accept="image/*"
              (change)="seleccionarArchivoActualizar($event)">
          </div>
          <div align="right">
            <button type="submit" class="btn btn-primary">Ingresar</button>
          </div>
          <input type="hidden" name="did" id="did" [(ngModel)]="descripcion.id">
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal Editar Descripcion -->
<div class="modal fade" id="editarDescripcion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Actualizar Descripción</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="actualizaDescripcion(form)" #form="ngForm">
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Descripción:</label>
            <textarea class="form-control" id="descripcion" name="descripcion" rows="3"
              [(ngModel)]="descripcion.descripcion"></textarea>
            <input type="hidden" name="id" id="id" [(ngModel)]="descripcion.id">
          </div>
          <div align="right">
            <button type="submit" class="btn btn-primary">
              Actualizar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
